{% extends 'adminapp/adminapp_base_template.html' %}

{% block content %}
     <div class="container">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.as_p }}
            <br><br>
        <input type="submit" value="Сохранить" class="btn btn-primary col-lg-12">
            <br><br>
        <button class="btn btn-warning col-lg-12"><a href="{% url 'adminapp:category_list'%}">Отмена</a></button>
            <br>
    </div>

{% endblock %}


121343