{% extends 'adminapp/adminapp_base_template.html' %}
{% load temp_tags %}
{% load static %}
<input type="hidden" name="next" value="{{ next }}">

{% block content %}
    <div class="container">
    <div class="users_list">
        <button class="new_user">
            <a href={% url 'adminapp:user_create' %}>
                новый пользователь
            </a>
        </button>
        {% for user in users %}
            <div
                    class="user_record {% if not user.is_active %}not_active{% endif %}">
                <img
                        src="{{ user.avatar| media_for_users }}"
                        alt="{{ user.username }}">
                <div class="user_role">
                    {% if user.is_superuser %}
                        администратор
                    {% else %}
                        пользователь
                    {% endif %}
                    <button>
                        <a href={% url 'adminapp:user_update' user.pk %}>
                            редактировать
                        </a>
                    </button>
                    <button>
                        <a href={% url 'adminapp:user_delete' user.pk %}>
                            удалить
                        </a>
                    </button>
                </div>
                <div class="user_name">
                    <p><strong>{{ user.username }}</strong></p>
                    <p>{% if user.first_name %}</p>
                        <b>{{ user.first_name|title }}</b>
                        {% if user.last_name %}
                            <p>{{ user.last_name|title }}</p>
                            {% endif %}
                        {% endif %}

                </div>
                <div class="user_age">
                    Возраст:<br>
                    {{ user.age }} лет
                </div>
                <div class="user_email">
                    email:<br>
                    {{ user.email }}
                </div>
                <div class="user_lastlogin">
                    Последний вход:<br>
                    {{ user.last_login }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</div>