{% extends 'adminapp/temp.html' %}

{% block content %}
     <div class="container">
        <h2>Карточка товара</h2>
         <br><br>
         {% for el in  object_list %}
         <img src="/media/{{ el.image }}" alt="img" width="200"    > <br><br>
        <p><b>Категория:   </b>&nbsp{{ el.category}}</p>
        <p><b>Наименование товара: </b>&nbsp  {{ el.name}}</p>
        <p><b>Краткое описание:  </b>&nbsp{{ el.short_desc}}</p>
        <p><b>Описание:  </b>&nbsp{{ el.description}}</p>
        <p><b>Цена: </b>&nbsp{{ el.price }}</p>
        <p><b>Доступное количество:  </b>&nbsp{{ el.price }} руб. </p>
    {% endfor %}
{#    <a href="{% url 'adminapp:product_update'%}">Редактировать</a>#}
{% endblock %}