{% extends 'adminapp/temp.html'%}

{% block content %}
         <div class="container">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ object_list.as_table }}
            <br><br>
        <input type="submit" value="Сохранить" class="btn btn-primary col-lg-12">
            <br><br>
        <button type="submit" class="btn btn-warning col-lg-12">Отмена</button>
            <br>
            <a href="{% url 'adminapp:products_list' 0 %}"></a>
    </div>
{% endblock %}