{% extends 'authapp/temp.html' %}
{% load static %}


{% block content %}

    <div class="h2 text-center head"> Вход в систему</div>
    <div class="container">
        <div class="login ">
            <form class="form-vertical " method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <br>
                <input type="hidden" name="next" value="{{ next }}">
                <input class="btn btn-primary" type="submit" value="ВОЙТИ">

            </form>
            <br><br>
            <a class="btn btn-info" href="{% url 'auth:register' %}">Регистрация</a><br><br>
            <a class="btn btn-primary" href="{% url 'social:begin' 'vk-oauth2' %}?next=/">Вход через VK</a>
            {#    # требует коннектор 'vk-oauth2'#}
        </div>
    </div>
{% endblock %}

