{% extends 'authapp/temp.html' %}
{% load static %}


{% block content %}

<div class="container" style="padding-top: 50px">
    <h2 style="text-align: center">Регистрация</h2>
    <div class="login">
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
        <br><br>
        <a class="btn btn-primary" href="{% url 'auth:login' %}">Войти</a>
        <a class="btn btn-primary" href="{% url 'mainapp:index' %}">На главную</a>
    </form>
        </div>

</div>

{% endblock %}

