<div class="container d-flex justify-content-around">
    {% if object.status == 'FM' %}
        <button class="btn border-danger border-2">
                   <a href="{% url 'order:complete' object.pk %}">
                совершить покупку
            </a>
        </button>
        <button class="btn border-danger border-2">
            <a href="{% url 'ordersapp:order_delete' object.pk %}">удалить</a>
        </button>
    {% endif %}

    <button class="btn border-danger border-2">
        <a href="{% url 'ordersapp:order_list' %}">
            к списку заказов
        </a>
    </button>
    <button class="btn border-danger border-2">
        <a href="{% url 'main' %}">на главную</a>
    </button>
</div>