{% extends 'mainapp/temp.html' %}
{% load static %}
{% load temp_tags %}
{% block menu %}
    <div class="slider">
        <div class="header clearfix">
                {% include 'mainapp/includes/inc_up_menu.html' %}
        </div>
        <div class="text-slider">
            <h3 class="green">тенденции</h3>
            <h3 class="big"> удобные стулья</h3>
            <p>Новый уровень комфорта. Отличные характеристики.</p>
            <a href="#" class="button-order">заказать <img src=" {% static 'img/arrow.png'%}" alt=""></a>
        </div>
        <div class="navi">
            <a href="#"></a><a href="#"></a><a href="#"></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="featured">
        <div class="featured-menu">
            <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
        </div>
        <a class="explore" href="{%  url 'products:category' 0 %}">показать все <img src="{% static 'img/arrow.png'%}" alt=""></a>
        <div class="clearfix">
        </div>
        <div class="tab-content">
            {% for product in links_menu %}
            <div class="block">
                <a href="#"><img src="{{ product.image | media_for_products }}" width="200px" height="200px" alt="img">
                    <div class="text">
                        <h4>{{ product.name }}</h4>
                        <h5> {{ product.price }}руб. </h5>
                        <p> {{ product.short_desc }} </p>
                    </div>
                </a> <a href="{% url 'basket:add' product.pk %}" class="add_basket">В корзину</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
